header {
	/*background-image: linear-gradient(rgb(0, 174, 255), rgb(31, 32, 32));*/
	background-color: #707070;
}

header .superior {
	padding-top: 4px;
	padding-bottom: 4px;
	color: aliceblue;
	font-size: large;
	font-weight: bold;
	width: 100%;
	z-index: 1;
}

.superior .container {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
}

.descuentos {
	display: inline-block;
}

.login {
	float: right;
}

.login .link-light {
	font-size: medium;
}

.navbar {
    width: 100%;
}

.navbar-brand img {
	width: 150px;
}

.logo {
	width: 150px;
}

.nav-link {
	color: aliceblue;
}
main h1{
    margin-left: 2vw;
}
main h2{
    margin-left: 2vw;
}
main p{
    margin-left: 2vw;
}
main {

    margin-top: 2vh;
    /*margin-left: 2vw;*/
}

.figure{
   
    margin-left: 3;
}


.card.producto {
	width: 18rem;
}

.card.contacto {
	
    margin-left: 2vh;
}

.card.contacto .form-control {
    margin-bottom: 2vh;
}

.btn-primary {
    background-color: rgb(34, 236, 219);
    border-color: rgb(0, 211, 193);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: rgb(0, 182, 167);
    border-color: rgb(2, 109, 100);
}

.nav {
	display: flex;
	flex-wrap: unset;
}



.form-control {
	display: flex;
}

li {
	list-style-type: none;
}

justify-content-end {
	justify-content: flex-end;
}

.btn-outline-primary {
	color: white;
	border-color: white;
}

.btn-outline-secondary {
	color: white;
	border-color: white;
}

.btn-ing {
	display: flex;
	margin-top: -180px;
	margin-left: -5px;
}
.navbar-nav{
    margin-left: 15%;
    
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 4rem;
    padding-left: 1rem;
}

body.colorfondo {
	color: aliceblue;
	background-color: rgb(30, 35, 51);
}

.input-group-text {
	height: 100%;
}

.carrito i {
	color: aliceblue;
}

.carrito {
	margin-top: auto;
	margin-bottom: auto;
}
.carousel-caption h2 {
   font-size: calc(2.325rem + .9vw); 
   
   
  
}
.carousel-caption h3 {
    font-size: calc(1.2rem + .9vw); 
 }
.carousel-caption {  
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    margin-bottom: 5vh;
}

.contenedores {
	max-width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: large;
}

.centrado-izq {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
}

.centrado-der {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
}

.centrado-izq h3 {
	font-size: medium;
}

.centrado-der h3 {
	font-size: medium;
}

.contenedores img {
	width: 100%;
   
}

.frase {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    font-size: 20px;
}

section.mapa iframe{
    border:0;
    height: 300px;
    width: 100%;
}

section.mapa{
    position:relative;
    display: inline-relative;
    margin-top: 5%;
}

section.mapa p{
    margin-bottom: 1%;
    margin-left: 2vw;
}

.row{
    width: 100%;
    margin-left: 1vw;
    
}
.col-10 {
    width: 70%;
    margin-left: 2vw;
}

section.horarios{
    width: 40%;
    margin-top: -20vh;
    margin-right: -1vw;
    font-size: 12px;
}

 .img-fluid{
     max-width: none;
     
 }   

footer .redes img {
    width: 20px;
    margin-top: 5px;
}

footer .redes ul li {
    display: inline;
    margin-left: 10px;
}

footer .redes ul li a {
    text-decoration: unset;
}

footer {
    position: absolute;
    width: 100%;
    padding-left: 1vw;
    background-color:#212529;
    color:aliceblue; 
}

.my-md-5 {
    margin-top: unset !important;
}

footer .row {
    width: 100%;
}

@media only screen and ( min-width: 1200px) {
	.carousel-item img {
		height: 600px
	}
    
}

@media only screen and ( min-width: 768px) and ( max-width: 1200px) {
    footer {
        padding-left: 3vw;
        
    }

    section.horarios{
        width: 30%;
        margin-top: -20vh;
        margin-right: 10vw;
    }
    
    
   
}

@media only screen and ( min-width: 600px) and ( max-width: 768px) {
    footer {
        padding-left: 3vw;
    }
    section.mapa {
        margin-bottom: unset;
    }
  
    
}
@media only screen and ( max-width:600px) { 
    footer {
        padding-left: 3vw;
    } 

    section.mapa {
        margin-bottom: unset;
    }
    
}