header {
	background-color:$encabezado;

    .superior {
        padding-top: 4px;
        padding-bottom: 4px;
        color: $colorLetrasHeaderyFooter;
        font-size: large;
        font-weight: bold;
        width: $porcentajeCien;
        z-index: 1;
    }
    .col-10 {
        width: 70%;
        margin-left: 2vw;
    }
    .container {
        display: block;
        position: relative;
        width: $porcentajeCien;
        text-align: center;
    }
    .descuentos {
        display: inline-block;
    }
    .login {
        float: right;
    }
    
    .link-light {
        font-size: medium;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 4rem;
        padding-left: 1rem;
    }

    .navbar {
        width: $porcentajeCien;
        &-brand img {
            width: 150px;
        }    
        &-nav{
            margin-left: 15%;
        }
        .nav-link {
            color: $colorLetrasHeaderyFooter;
        }
    }
    
    .input-group-text {
        height: $porcentajeCien;
    }
    
    .carrito{
        margin-top: auto;
        margin-bottom: auto;
        & i {
            color: aliceblue;
        }
    }
    
    .logo {
        width: $logoAncho;
    }
    
}