main{
    h1{
        margin-top: 2vh;
        margin-left: 2vw;
        font-size: xx-large;
    }
    h2{
        margin-left: 2vw;
        margin-bottom: 10vh;
    }
    p{
       
        margin-top: 2vw;
        &.informacion{
            margin-left: 2vw;
        }
    }
    .carousel{
        @media only screen and ( min-width: $desktop) {
            &-item img {
                height: 600px;
            }  
        }
    }
    .carousel-caption{
        & h2 {
            font-size: calc(2.325rem + .9vw); 
        }
        & h3 {
             font-size: calc(1.2rem + .9vw); 
        }
        &{  
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
            margin-bottom: 5vh;
        }
        
    }
    @mixin frase ($tamanioLetraFrase, $marginFrase, $fuenteFrase) {
        font-size: $tamanioLetraFrase;
        margin-bottom: $marginFrase;
        margin-top: $marginFrase;
        font-family: $fuenteFrase;
    }
    
    .frase {
        @include frase (20px!important, 3rem, $tipoFuenteFrase);
    }

     .contenedores {
         max-width: $porcentajeCien;
         position: relative;
         display: inline-block;
         text-align: center;
         font-size: large;
         margin-bottom: 20px;
            
        & img {
            width: $porcentajeCien;
        }
    }   
    .centrado-izq {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
        
    .centrado-der {
        @extend .centrado-izq;
        left: 75%;
        
    }
    .col-10 {
        flex:auto;
        width: 50%;
        margin-left: 1vw;
    }
        
    .mapa{
        position:relative;
        display: inline-relative;
        margin-top: 5%;

        @media only screen and ( min-width:$smartphone ) and ( max-width: $tablets) {
            & {
                margin-bottom: unset;
            } 
    
        }

        @media only screen and ( max-width:$smartphone) { 
            &{
                margin-bottom: unset;
            }
            
        }
    
        & p{
            margin-bottom: 1%;
            margin-left: 2vw;
        }
        & iframe{
            border:0;
            height: 300px;
            width: $porcentajeCien;
        }
 
    }
    .producto-zoom:hover{
        transform:scale(1.1);
    }
    .card-body{
       margin-top: 5vh;
       background-color: #abb5b64d;
       box-sizing: border-box;
       text-align: center;
    }
   
    .oferta-zoom:hover{
        transform:scale(1.1);
    }
    .galeria-zoom:hover{
        transform:scale(1.1);
    }
    .threed:hover{
        box-shadow:$colorFormulario;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    
    .badge{
        margin-top: 5px; 
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .horarios{
        width: 40%;
        margin-top: -20vh;
        margin-right: -1vw;
        font-size: 12px;
    
        @media only screen and ( min-width: $tablets) and ( max-width: $desktop) {
            & {
                width: 30%;
                margin-top: -20vh;
                margin-right: 10vw;
            } 
        }
    }
    
    .text-center {
        text-align: center!important;
        font-size: revent;
    }
    .cart-text:last-child {
            font-size: medium;
        }
    } 
    .cuotas{
        font-size: large;
        font-weight: 500;
        color:green  
    }  
    .precios{
        color:red;
        font-weight: 500;
    }
    .row{
        width: $porcentajeCien;
        margin-left: initial;
    }
    
     .img-fluid{
         max-width: none;  
     }
     
     .figure{
        margin-left: 3px;
    }
    
    .card.producto {
        width: 18rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .card.contacto {
        background: linear-gradient(#4facfe, #00f2fe);
        margin-left: 2vh;
        
    
        &.contacto .form-control {
         margin-bottom: 2vh;
        }
    }
    .caja-horarios{
        width: 15rem; 
        height: 9rem;
    }
