/*variables*/
$smartphone:600px;
$tablets:768px;
$desktop:1200px;
$fondo:rgb(30, 35, 51);
$colorLetrasHeaderyFooter:rgb(194, 201, 207);
$encabezado:#707070;
$colorFormulario:1px 1px #53a7ea, 3px 3px #53a7ea, 4px 4px #53a7ea;
$porcentajeCien: 100%;
$marginFrase: 3rem;
$paddingMediaQuery: 3vw;
$logoAncho: 150px;